In [4]:
import pandas as pd
import numpy as np

# Pull 100 random seeded user data
dataset = pd.read_csv("data.csv")
dataset.head()

,name,webdev,ai,robotics,nlp,bot,fintech,music,iot,biomedical,education,environment,fitness,vr,blockchain,gaming,hardware,research
0,Emma,0,1,1,0,0,0,0,1,0,0,0,0,0,0,0,1,1
1,Noah,1,1,1,1,1,0,0,1,1,0,0,1,0,0,1,0,0
2,William,1,0,1,1,1,1,0,1,0,0,1,1,0,0,0,1,1
3,James,0,0,1,0,0,0,0,1,1,1,1,1,1,0,0,1,0
4,Oliver,1,0,0,1,0,1,0,1,1,0,1,1,1,0,1,1,1

In [ ]:
# Each row represents a student with boolean vals representing which interest they have (1) or not (0)
dataset.iloc()
# Jorge will be our target user i.e. the one whom we want recommendations for
jorge_data =